
* {
  margin: 0;
  padding: 0;
}

.container {
  display: overflow;
  background-color: black;
}

p {
  background-color: white;
}

header .box {
    background-color: black;
}

header h1 {
  text-align: center;
  color: white;
}

header strong {
  display: inline-block;
  padding-left: 545px;
  margin: 30px;
  color: white;
}
img.img-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
  max-width: 50%;
}

header em {
  display: inline-block;
  padding-left: 370px;
  margin: 30px;
  color: white;
}

.box .left .p-right p {
  padding-top: 50px;
  padding-right: 50px;
  float: right;
  width: 60%;

}

.img-right {
  width: auto;
  margin-top: 10px;
 padding-left: 100px;
}
