
header {
    background-color: black;
}

header h1 {
  color: white;
}

header em {
  color: white;
}

h3 {
  background-color: grey;
}

img.img-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
  max-width: 50%;
}

article.who-is {
  width: 70%;
}

aside.img-right {
 display: inline-block;
 width: 33%;
 padding: 1 1 red;
}
